body {
	border: 4px solid #8ac007;
	border-radius: 25px;
	padding: 15px;
	overflow:hidden;
}

.formulaire {
	border: 2px solid #cc9900;
	border-radius:15px;
	border-top-left-radius:0px;
	background-color: #ffffff;
	font-family: "Helvetica Neue",Helvetica,Arial;
	font-size:15px;
}

.formulaire form {
	padding-left:10px;
}
.formulaire div {
	padding-left:10px;
}
.formulaire p {
	padding-left:10px;
}

.shadowed {
	box-shadow: 10px 10px 5px #448888;
}

th {
	vertical-align: text-top;
	text-align:left;
}

ul.tabs {
	float:left;
	border-bottom:2px solid black;
	width:90%;
	margin-bottom:20px;
}

.tabs li {
	float:left;
	margin: 5px 10px 0px 0px;
	padding-left:30px;
	padding-right:30px;
	list-style:none;
	background-color: #a0a0a0;
	font-size:20px;
	border:1px solid black;
	border-bottom:none;
	border-top-right-radius:5px;
	cursor:pointer;
	color:#1144aa;
}

li.active {
	background-color: #44cc33;
}

li:hover {
	background: #55dd44;
}

li a {
	text-decoration:none;
}

.formulaire h3 {
	margin-top:0px;
	margin-left:5px;
}

.formulaire h2 {
	margin-top:0px;
	background-color:#fedd32;
	border-top-right-radius:12px;
	color: #8f7313;
	padding-left:5px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.clientHead {
	background-color: #99aa77;
	font-weight:bold;
	//font-size:22;
	color: #44ff22;
}
.clientTab {
	border:2px solid blue;
	border-radius:7px;
	padding-left:0px;
	width:100%;
	border-collapse:collapse;
	position:relative;
	height:300px;
	overflow-y:auto;
	//overflow-x:hidden;
}

.table-scroll {
	height:150px;
	overflow:auto;
	margin-top:20px;
}
/*
.clientHead th {
	position:absolute;
	top:-20px;
	z-index:2;
	height:20px;
	//width:35%;
	//border:1px solid red;
	background-color: #99aa77;
	font-weight:bold;
//font-size:22;
	color: #44ff22;
}
*/
.roundTable {
	width:100%;
	border-collapse:collapse;
	border:0;
}

.clientLine {
	background-color: #44cc33;
	position: relative;
	color: #334488;
}
.clientLine td a {
	cursor:pointer;
}

td.clientLineData {
	opacity:.99;
	pointer-events:none; /* Because elements with opacity less than 1 won't trigger any hover without it */
}

.clientLineActive {
	opacity:0.99;
	cursor:pointer
}

.clientLine a {
	text-decoration: none;
	color: #334488;
	transition:background-color 0.5s;
	border-bottom: 1px solid #22bb11;
	display:block;
	/* Added since tabs */
	position:absolute;
	left:22px;
	right:0px;
	top:0px;
	bottom:0px;
	padding-left:5px;
}

.clientLine a:hover {
	color: #7788ff;
	background: #66ee44;
}

.clientLine a.active {
	color: #7788ff;
	background: #88ff66;
}

td.elementLineRemove {
	padding-left:5px;
	padding-right:5px;
	margin-right:5px;
	background-color:white;
	cursor:pointer;
	width:10px;
}

div.elementLineRemove {
	float:left;
	padding-left:5px;
	padding-right:5px;
	margin-right:5px;
	background-color:white;
	cursor:pointer;
}
td.montant {
	text-align:right;
}

input.dateJour {
	width:70px;
}

td.montantTotal {
	text-align:right;
	font-weight:bold;
}

input.montant {
	text-align:right;
	width:80px;
	border-radius:10px;
	border:1px solid #dddddd;
	padding-right:7px;
}

input.montant:hover {
	border:1px solid red;
	padding-right:7px;
}

td.montantGras {
	text-align:right;
	font-weight:bold;
}

.errorField {
	color:red;
	font-weight:bold;
}

td.action {
	cursor:pointer;
}

.grey {
	color:#887788;
	text-align:right;
	width:90px;
}

.appliBtn {
  background: #ff7700;
  background-image: -webkit-linear-gradient(top, #ff7700, #97b82c);
  background-image: -moz-linear-gradient(top, #ff7700, #97b82c);
  background-image: -ms-linear-gradient(top, #ff7700, #97b82c);
  background-image: -o-linear-gradient(top, #ff7700, #97b82c);
  background-image: linear-gradient(to bottom, #ff7700, #97b82c);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 2px 2px 0px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  border: solid #8f7313 1px;
  text-decoration: none;
  transition: color 0.5s;
	margin:5px;
}

.appliBtn:hover {
  color: #44ff44;
  background-image: -webkit-linear-gradient(top, #ff7700, #97b82c);
  background-image: -moz-linear-gradient(top, #ff7700, #97b82c);
  background-image: -ms-linear-gradient(top, #ff7700, #97b82c);
  background-image: -o-linear-gradient(top, #ff7700, #97b82c);
  background-image: linear-gradient(to bottom, #ff7700, #97b82c);
  text-decoration: none;
  cursor:pointer;
}

.formLabel {
	text-align:right;
	padding-right:15px;
}
input.formData {
	width:500px;
}

/* Styles for the div popup */
.modal {
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1002; /* floatThead makes a 'div' with 1001 as z-index. So we need to set higher here */
	display:none;
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	overflow: auto; /* Enable scroll if needed */
	position: absolute;
}
.middle {
	display: table-cell;
	vertical-align: middle;
}
#subWin {
	width:80%;
	margin-left: auto;
	margin-right: auto;
}

.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	position:absolute;
	right:0;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

/* Styles for the messages coming from the bottom of the screen */
.messageBottom {
	position:absolute;
	right:0;
	bottom:0;
	border:solid 1px #445533;
	padding:5px;
	width:20%;
	margin-right:5px;
	background-color:#88ff66;
	font-family: 'Titillium Web',arial,sans-serif;
	border-radius:5px;
}