<table widths="10%,90%">
	<tr>
		<td>
			<img ng-src="{{company.urlImage}}" style="width:100px"/>
		</td>
		<td>
		<div style="font-family:times">
			<p><b ng-bind="company.nom"></b></p>
			<p ng-bind="company.email"></p>
			<p ng-bind="company.adresse1"></p>
			<p ng-bind="company.adresse2"></p>
			<p ng-bind="company.adresse3"></p>
				<br/>
			<p ng-bind="company.statut"></p>
			<p>SIRET&nbsp;: {{company.siret}} - RCS {{company.rcs}}</p>
			<p></p>
			</div>
		</td>
	</tr>
</table>
<br/>
<div style="text-align:right">
	<p><b ng-bind="getCurrentClient().nom"/></p>
	<p style="white-space:pre-wrap" ng-bind="getCurrentClient().adresse">
</div>
<br/>
<br/>
<br/>Le {{dateJourFacture(facture)}},
<br/>
<br/>
<p ng-if="!facture.devis && !facture.avoir">
	<u>Facture n°{{getNumeroFacture(facture)}}</u>: {{formateDureeFacture(facture)}}
</p>
<p ng-if="facture.devis">
	<u>Devis</u> pour {{getNbJours(facture)}} jours
</p>
<p ng-if="facture.avoir">
	<u>Facture d'avoir n°{{getNumeroFacture(facture)}}: </u>
</p>
<br/>
<table border="1" cellpadding="4" cellspacing="0" widths="50%,20%,10%,5%,20%">
	<thead>
		<tr style="font-weight:bold">
			<th>Prestations</th>
			<th style="width:30%">Prix unitaire HT</th>
			<th>Quantité</th>
			<th>TVA</th>
			<th>Total HT</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="ligne in facture.lignes">
			<td>{{ligne.descriptif}}</td>
			<td>{{ligne.pu}}</td>
			<td>{{ligne.qte}}</td>
			<td>{{ligne.sansTva ? 0 : 20}}</td>
			<td ng-bind="calculLigneMontantHT(ligne) | currency"></td>
		</tr>
	</tbody>
</table>
<br/>
<table widths="49%,51%" cellspacing="0">
	<tr>
		<td></td>
		<td>
			<table border="1" cellpadding="4" cellspacing="0" widths="60%,40%">
				<tr>
					<td style="text-align:right;font-weight:bold">Total HT</td>
					<td ng-bind="getFactureTotalHT() | currency"></td>
				</tr>
				<tr>
					<td style="text-align:right">TVA</tdstyle>
					<td class="montant" ng-bind="getFactureTotalTVA() | currency"></td>
				</tr>
				<tr>
					<td style="text-align:right">Total TTC</td>
					<td class="montantGras" ng-bind="getFactureTotalTTC() | currency"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br/>
<br/>
<p><i>Indemnité forfaitaire pour frais de recouvrement en cas de retard de paiement fixée à
 40 euros (loi n° 2012-387 du 22 mars 2012 et décret n°2012-1115 du 2 octobre 2012).</i>
</p>
<br/>
<br/>
<br/>
<p>TVA intracommunautaire&nbsp;: {{company.tvaIntra}}</p>

<div ng-if="contentLoaded(count)"/>
