<div class="formulaire">
	<h2>
		<span ng-if="idClient">Edition</span><span ng-if="!idClient">Création</span> d'un client
	</h2>
	<!-- l'overflow:hidden permet que les div contenus ne soient pas en dehors du parent -->
	<div style="overflow:hidden">
	<div style="width:40%;float:left">
		<h3>Informations</h3>
		<form name="clientForm" ng-submit="submitClient()">
			<table>
				<tr>
				<th>Nom:</th><td><input type="text" ng-model="client.nom"/></td>
			</tr><tr>
				<th>Adresse:</th><td><textarea name="adresse" ng-model="client.adresse"></textarea></td>
			</tr><tr>
				<th>Récit d'expérience:</th><td><textarea name="recitXP" ng-model="client.recitXP"></textarea></td>
			</tr>
			</table>
			<input class="appliBtn" type="submit" value="Enregistrer"/>
		</form>
	</div>
	<div style="width:40%;float:left">
		<h3>Contacts</h3>
		<div class="clientTab">
			<table border="0" ng-show="contacts.length  > 0" class="roundTable">
				<tr class="clientHead">
					<td colspan="2">
						Liste des contacts
					</td>
				</tr>
				<tr class="clientLine" ng-repeat="contact in contacts">
					<td class="elementLineRemove" ng-click="deleteContact(contact.id)">
						X
					</td>
					<td>
						<a href="" ng-click="openContact(contact.id)">{{contact.prenom}} {{contact.nom}} {{contact.mail}}</a>
					</td>
				</tr>
			</table>
		</div>
		<input class="appliBtn" type="button" value="Ajouter" ng-click="creerContact()"/>
		<div ng-if="isVisibleContact()" ng-include="'templates/contact.html'" style="float:left;width:100%"></div>
	</div>
</div>
