<!-- Very important ! Avoid validation errors with FF
     Note: there's no solution today about 'ng-view='ng-view''. We wouldn't have
           been forced to use this syntax inside parent HTML, but with ng-include,
           this becomes mandatory.-->
<html>
	<head>
		<script>
		$(document).ready(function() {

		var ctx = $('#myChart');

		var colors = ['FF6384', '36A2EB', 'FFCE56'];

		var data = {
			labels: [],
			datasets: [
				{
					data: [],
					backgroundColor: [],
					hoverBackgroundColor: []
				}
				]
			};


		var options = {
		maintainAspectRatio: false,
		responsive: true
		};

		var controllerClients = angular.element($('.clientTab')).scope();
		var i=0;
		var multiplier = 1;
		for (key in db.clients) {
			var client = db.clients[key];
			var money = controllerClients.getMoney(client.id);
			if (money.money > 0) {
                var color = colors[i++ % colors.length];
                data.datasets[0].data.push(money.money);
                data.labels.push(client.nom);
                color = parseInt(color, 16) * multiplier;
                color = color & 0xffffff;
                color = color.toString(16);
                data.datasets[0].backgroundColor.push("#" + color);
                data.datasets[0].hoverBackgroundColor.push("#" + color);
                if (i % colors.length == 0) {
                    multiplier *= 4
                }
            }
		}
		var myPie = new Chart(ctx, {
		type: 'pie',
		data: data,
		options: options
		});

		// Resize pie
		var width = $('#chartContainer').css('width');
		$('#myChart').css('width', width);
		});
		</script>
	</head>
<body>

<div class="clientTab" style="float:left;width:60%">
	<table border="0" class="roundTable">
		<thead>
			<tr class="clientHead">
				<th colspan="2">
					Liste des clients
				</th>
				<th>
					Factures
				</th>
				<th>
					Paiement
				</th>
			</tr>
		</thead>
		<tbody>
			<tr class="clientLine" ng-repeat="client in clients | toArray | orderBy:'nom'">
				<td class="elementLineRemove" ng-click="deleteClient(client.id)">
					X
				</td>
				<td>
					<a ng-click="selClient(client.id)"
					   ng-class="{active:selClient()==client.id}">{{client.nom}}
						({{client.contacts.length}} contacts)
					</a>
				</td>
				<td class="clientLineData">
					<span ng-bind="getFactureDisplay(client.id)"/>
				</td>
				<td class="clientLineData">
					<span ng-bind="getClientPaymentDuration(client.id)"/>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div id="chartContainer" style="width:35%;float:left">
	<canvas id='myChart' height="200"></canvas>
</div>
<div style="clear:both"></div>
<p>
	<a class="appliBtn" ng-click="createClient()">Créer un client</a>
</p>

<!-- Just to call a function when we're sure that angular has fully rendered the page -->

<div ng-if="fixTable()"/>

</body>
</html>