<html>
<head>

</head>
<body>

<div class="clientTab">
	<table border="0" class="roundTable">
		<thead>
			<tr class="clientHead">
				<th colspan="2">
					Liste des notes de frais
				</th>
				<th>
					Montant TTC
				</th>
				<th>
					TVA
				</th>
				<th>
					Impression
				</th>
			</tr>
		</thead>
		<tbody>
			<tr  class="clientLine" ng-repeat="ndf in ndfs | toArray | orderBy:'dateMois'">
				<td class="elementLineRemove" ng-click="deleteNdf(ndf.id)">
					X
				</td>
				<td style="background-color: transparent">
					<a ng-class="{active:selNdf()==ndf.id}" ng-click="selNdf(ndf.id)">
						{{ndf.dateMois | date : "MMMM yyyy"}}
					</a>
				</td>
				<td class="clientLineData">
					<div ng-bind="ndf.montantTTC |currency"/>
				</td>
				<td class="clientLineData">
					<div ng-bind="getTvaTotal(ndf) | currency"/>
				</td>
				<td>
					<img class="clientLineActive" src="images/pdfIcon32x32.png" width="16" ng-click="printNdf(ndf.id)"/>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr class="clientHead">
				<td colspan="2">
					Total:
				</td>
				<td>
					<span ng-bind="getListTotalTTC() | currency"></span>
				</td>
				<td colspan="2">
					<span ng-bind="getListTotalTVA() | currency"></span>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
<p>
	<a class="appliBtn" ng-click="createNdf()">Créer une note de frais</a>
</p>

<div id="modeleNoteDeFraisListe" ng-include="'templates/print/modeleNoteDeFrais.html'" ng-if="ndf != null" style="display:none">

</div>

</body>
</html>