<html>
	<head>
	</head>
<body>
<div class="overflowTab">
	<table border="0" class="roundTable" id="listeFactures">
		<thead>
			<tr class="clientHead">
				<th>
					<input type="checkbox" ng-model='check_all' ng-click="toggleCheckAll(check_all)"/>
				</th>
				<th>
					Liste des factures
				</th>
				<th>
					Jours
				</th>
				<th>
					Mois
				</th>
				<th>
					Impression
				</th>
				<th> </th>
			</tr>
		</thead>
		<tr  class="clientLine" ng-repeat="facture in factures | toArray | orderBy:'-dateDebut' ">
			<td>
				<input type="checkbox" ng-model="facture.checked"/>
			</td>
			<td style="background-color: transparent">
				<a ng-class="{active:selectedFacture()==facture.id}" ng-click="selFacture(facture.id)">
					{{getNomClient(facture.idClient)}} : {{facture.montantTTC | currency}}
				</a>
			</td>
			<td class="clientLineData">
				<span ng-bind="getNbJours(facture)"/>
			</td>
			<td class="clientLineData">
				<span ng-bind="facture.dateDebut | date : 'MM/yyyy'"/>
				<span style="margin-left:50px">
					<span ng-show="facture.payee">Payée</span>
					<span ng-show="facture.devis">Devis</span>
					<span ng-show="!facture.payee && facture.dateFin < now" style="color:red" ng-bind="calculeRetard(facture)"></span>

				</span>
			</td>
			<td>
				<img class="clientLineActive" src="images/pdfIcon32x32.png" width="16" ng-click="printFacture(facture.id)"/>
			</td>
			<td class="clientLineActive elementLineRemove" ng-click="deleteFacture(facture.id)">
				X
			</td>
		</tr>
		<tr class="clientHead">
			<td colspan="6">
				Total: <span ng-bind="getTotalFactures()"/>
			</td>
		</tr>
	</table>
</div>

<p>
	<a class="appliBtn" ng-click="createFacture()">Créer une facture</a>
	<a class="appliBtn" ng-click="printFactures()">Imprimer les factures</a>
</p>
<div id="modeleFactureListe" ng-include="'templates/print/modeleFacture.html'" ng-if="facture != null" style="display:none">

</div>

<!-- Just to call a function when we're sure that angular has fully rendered the page -->

<div ng-if="fixTable()"/>

</body>
</html>