<html>
<body>

<div class="clientTab">
	<table border="0" class="roundTable">
		<tr class="clientHead">
			<td colspan="2">
				Liste des notes de frais
			</td>
			<td>
				Montant TTC
			</td>
			<td>
				TVA
			</td>
			<td>
				Impression
			</td>
		</tr>
		<tr  class="clientLine" ng-repeat="ndf in ndfs | toArray | orderBy:'dateMois'">
			<td class="elementLineRemove" ng-click="deleteNdf(ndf.id)">
				X
			</td>
			<td style="background-color: transparent">
				<a ng-class="{active:selectedNdf()==ndf.id}" href="#/ndf{{ndf.id}}" ng-click="selNdf(ndf.id)">
					{{ndf.dateMois | date : "MMMM yyyy"}}
				</a>
			</td>
			<td class="clientLineData">
				<div ng-bind="ndf.montantTTC |currency"/>
			</td>
			<td class="clientLineData">
				<div ng-bind="getTvaTotal(ndf) | currency"/>
			</td>
			<td>
				<img class="clientLineActive" src="images/pdfIcon32x32.png" width="16" ng-click="printNdf(ndf.id)"/>
			</td>
		</tr>
		<tr class="clientHead">
			<td colspan="2">
				Total:
			</td>
			<td>
				<span ng-bind="getListTotalTTC() | currency"></span>
			</td>
			<td colspan="2">
				<span ng-bind="getListTotalTVA() | currency"></span>
			</td>
		</tr>
	</table>
</div>
<p>
	<a class="appliBtn" href="#/ndf" ng-click="resetForm()">Créer une note de frais</a>
</p>
<div ng-view="ng-view"></div>
<div id="modeleNoteDeFraisListe" ng-include="'templates/print/modeleNoteDeFrais.html'" ng-if="ndf != null" style="display:inline">

</body>
</html>