<!-- Very important ! Avoid validation errors with FF
     Note: there's no solution today about 'ng-view='ng-view''. We wouldn't have
           been forced to use this syntax inside parent HTML, but with ng-include,
           this becomes mandatory.-->
<html>
<body>

<div class="clientTab">
	<table border="0" class="roundTable">
		<tr class="clientHead">
			<td colspan="2">
				Liste des clients
			</td>
			<td>
				Factures
			</td>
			<td>
				Paiement
			</td>
		</tr>
		<tr class="clientLine" ng-repeat="client in clients | toArray | orderBy:'nom'">
			<td class="elementLineRemove" ng-click="deleteClient(client.id)">
				X
			</td>
			<td>
				<a ng-click="selClient(client.id)"
				   ng-class="{active:selClient()==client.id}">{{client.nom}}
					({{client.contacts.length}} contacts)
				</a>
			</td>
			<td class="clientLineData">
				<span ng-bind="getFactureDisplay(client.id)"/>
			</td>
			<td class="clientLineData">
				<span ng-bind="getClientPaymentDuration(client.id)"/>
			</td>
		</tr>
	</table>
</div>
<p>
	<a class="appliBtn" ng-click="createClient()">Créer un client</a>
</p>

</body>
</html>