<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="clientTab">
    <table border="0" class="roundTable">
        <tr class="clientHead">
            <td colspan="2">
                Liste des échéanciers
            </td>
            <td>
                Prochaine date
            </td>
            <td>
                Total
            </td>
        </tr>
        <tr class="clientLine" ng-repeat="echeance in echeances track by echeance.id">
            <td class="elementLineRemove" ng-click="deleteEcheance(echeance.id)">
                X
            </td>
            <td>
                <a ng-click="selEcheance(echeance.id)"
                   ng-class="{active:selEcheance()==echeance.id}">
                    {{echeance.nom}}
                </a>
            </td>
            <td class="clientLineData">
                <span ng-bind="getNext(echeance)"/>
            </td>
            <td class="clientLineData">
                <span ng-bind="getTotal(echeance)"/>
            </td>
        </tr>
        <tr class="clientHead">
            <td colspan="4">
                Total 2016: <span ng-bind="getTotalEcheances()"/>
            </td>
        </tr>
    </table>
</div>

<p>
    <a class="appliBtn" ng-click="createEcheance()">Créer un échéancier</a>
</p>
</body>
</html>