<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <script>
        function prepareGraph() {
            var ctx = $('#chartEcheances');

            var colors = ['FF6384', '36A2EB', 'FFCE56'];

            var data = {
                //labels: [],
                datasets: []
            };


            var options = {
                maintainAspectRatio: false,
                //responsive: true,
                //hoverMode: 'single',
                scales: {
                    xAxes: [{
                        type: "time",
                        gridLines: {
                            zeroLineColor: "rgba(0,0,0,1)"
                        },
                        ticks: {
                            callback: function (value, index, values) {
                                // First parameter is already formated "Jul 2017" for example, so we have to
                                // retrieve raw date object from 'values'
                                var v = values[index];

                                if (v) {
                                    var dat = v._d; // Get the date from 'moment.js' object used by chartjs
                                    var frenchMonth = jQuery.datepicker.regional.fr.monthNames[dat.getMonth()];
                                    var result = capitalizeFirstLetter(frenchMonth).substring(0, 3);
                                    result += ' ' + dat.getUTCFullYear();
                                }
                            }
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            callback: function (value) {
                                return addCommas(value);
                            }
                        }
                    }]
                },

                elements: {
                    line: {
                        // Remove bezier curve, because it's not appropriate there
                        tension: 0
                    }
                },
                tooltips: {
                    callbacks: {
                        title: function(tooltipItem) {
                            return dateToString(new Date(tooltipItem[0].xLabel));
                        },
                        // Display amount with spaces
                        label: function(tooltipItem, data) {
                            var label = data.datasets[tooltipItem.datasetIndex].label;
                            return label+": "+addCommas(tooltipItem.yLabel)+"€";
                        }
                    }
                },
                multiTooltipTemplate: "<%= 'rr' + addCommas(value) %>"
            };

            // Build labels, with month/year
            var firstDate = createDate(2015, 9 - 1, 15);

            var i=0;
            var multiplier = 1;
            for (key in db.echeances) {
                var ech = db.echeances[key];
                var dataset = {
                    label: ech.nom,
                    data: [],
                    fill: false
                };
                data.datasets.push(dataset);

                for (var l=0;l<ech.lignes.length;l++) {

                    var echLine = ech.lignes[l];
                    var dateLimit = new Date(echLine.dateLimite);
                    dataset.data.push( {
                        x:dateLimit.getTime(),
                        y:echLine.montant
                    });
                }
                var color = colors[i++ % colors.length];
                color = parseInt(color, 16) * multiplier;
                color = color & 0xffffff;
                color = color.toString(16);
                dataset.backgroundColor = "#" + color;
                dataset.borderColor = "#" + color;
                dataset.hoverBackgroundColor = "#" + color;
                if (i % colors.length == 0) {
                    multiplier *= 4
                }
            }
            var myPie = new Chart(ctx, {
                type: 'line',
                data: data,
                options: options
            });

            // Resize pie
            /*
            var width = $('#chartContainer').css('width');
            $('#chartEcheances').css('width', width);
            */
        }
    </script>
</head>
<body>
<div class="clientTab">
    <script>
        $(document).ready(prepareGraph());
    </script>
    <table border="0" class="roundTable">
        <thead>
            <tr class="clientHead">
                <th colspan="2">
                    Liste des échéanciers
                </th>
                <th>
                    Prochaine date
                </th>
                <th>
                    Total
                </th>
            </tr>
        </thead>
        <tr class="clientLine" ng-repeat="echeance in echeances track by echeance.id">
            <td class="elementLineRemove" ng-click="deleteEcheance(echeance.id)">
                X
            </td>
            <td>
                <a ng-click="selEcheance(echeance.id)"
                   ng-class="{active:selEcheance()==echeance.id}">
                    {{echeance.nom}}
                </a>
            </td>
            <td class="clientLineData">
                <span ng-bind="getNext(echeance)"/>
            </td>
            <td class="clientLineData">
                <span ng-bind="getTotal(echeance)"/>
            </td>
        </tr>
        <tr class="clientHead">
            <td colspan="4">
                Total 2016: <span ng-bind="getTotalEcheances()"/>
            </td>
        </tr>
    </table>
</div>

<div id="chartContainer" style="height:250px">
    <canvas id='chartEcheances'></canvas>
</div>

<p>
    <a class="appliBtn" ng-click="createEcheance()">Créer un échéancier</a>
</p>

<div ng-if="fixTable()"/>

</body>
</html>