<div class="formulaire shadowed">
	<h2 style="position:relative">
		<span ng-if="idNdf">Edition</span><span ng-if="!idNdf">Création</span> d'une note de frais
		<span class="close" ng-click="selNdf(-1)">&times;</span>
	</h2>

	<p>
		Mois:
		<input type="text" month-picker="yes" ng-model="ndf.dateMois"/>
	</p>
	<form name="detailNdf" ng-submit="submitNdf()">
		Lignes de la note de frais
		<input type="button" class="appliBtn" value="Ajouter" ng-click="ajouteLigne()"/>
		<table>
			<tr>
				<th></th>
				<th>Date</th>
				<th>Descriptif</th>
				<th>TVA 5.5%</th>
				<th>TVA 10%</th>
				<th>TVA 20%</th>
				<th>Non taxé</th>
			</tr>
			<tr ng-repeat="ligne in ndf.lignes | toArray | orderBy:'dateNote'">
				<td class="action" ng-click="supprimeLigne($index)">X</td>
				<td><input type="text" class="dateJour" date-picker="yes" ng-model="ligne.dateNote"/></td>
				<td><input type="text" ng-model="ligne.descriptif"/></td>
				<td><input type="text" numeric class="montant" ng-model="ligne.tva55"/></td>
				<td><input type="text" numeric class="montant" ng-model="ligne.tva10"/></td>
				<td><input type="text" numeric class="montant" ng-model="ligne.tva20"/></td>
				<td><input type="text" numeric class="montant" ng-model="ligne.ttc"/></td>
				<td>
					<div class="grey" ng-bind="calculeTotalLigne(ligne) | currency"/>
					<span ng-show="ligne.error" class="errorField" ng-bind="ligne.error | i18n">
			   		</span>
				</td>
			</tr>
			<!--Lignes de totalisation -->
			<tr ng-if="ndf.lignes.length > 1">
				<td colspan="2"></td>
				<td style="font-weight:bold">Total</td>
				<td class="montantTotal" ng-bind="getNdfTotal('tva55') | currency"></td>
				<td class="montantTotal" ng-bind="getNdfTotal('tva10') | currency"></td>
				<td class="montantTotal" ng-bind="getNdfTotal('tva20') | currency"></td>
				<td class="montantTotal" ng-bind="getNdfTotal('ttc') | currency"></td>
			</tr>
		</table>

		<input class="appliBtn" type="submit" value="Enregistrer"/>
		<input class="appliBtn" type="button" value="Imprimer" ng-click="exportPDF('modeleNoteDeFrais')"/>
	</form>
</div>

<div id="modeleNoteDeFrais" ng-include="'templates/print/modeleNoteDeFrais.html'" ng-if="ndf != null" style="display:none">

</div>
